* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
}
.container{
    margin: 150px 250px;
}

.row {
    display: flex;
    border-top-left-radius: 15px;
}

.row__col {
    width: 300px;
    height: 450px;
    background-color: black;
    border: 3px solid red;
}